.services .service-item {
  padding: 40px;
  background: #fff;
  height: 100%;
}

.services .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.services .service-item .icon i {
  color: var(--primary-color);
  font-size: 56px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}

.services .service-item h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .service-item h4 a {
  color: var(--secondary-color);
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
}

.services .service-item:hover .icon i {
  color: #fff;
}
