.footer {
  padding: 30px;
  color: #f4f6fd;
  font-size: 14px;
  position: relative;
  background: #0c1429;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}
